<div id="content-top">
  <ul>
    <% books.forEach(function(book) { %>
      <li>tittel: <%= book.title %>
        isbn: <%= book.isbn %>
      </li>
    <% }); %>
  </ul>
</div>
<div id="content-middle">
  midtinnhold her ja
</div>
<div id="content-bottom">
  bunninnhold her ja
</div>