<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Plukkliste Deichman</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() { 
        $("#holdstable").tablesorter();

        foundBook = function(rowid, biblionumber, itemnumber, borrowernumber) {
          // console.log(rowid);
          // console.log(biblionumber);
          // console.log(itemnumber);
          // console.log(borrowernumber);
          var request = $.ajax({
            url: '/foundBook/'+biblionumber+'/'+itemnumber+'/'+borrowernumber, 
            type: 'PUT',
            cache: false,
            success: function(data) {
              console.log(data);
            },
            error: function(jqXHR, textStatus, errorThrown) {
              console.log(jqXHR.responseText);
            }
          });

        } 
        
        $('#star').live('click', function () {
            var row = $(this).closest('tr');
            var rowid  = row.attr('id');
            var biblionumber = row.find('.biblionumber').text();
            var itemnumber = row.find('.itemnumber').text();
            var borrowernumber = row.find('.borrowernumber').text();

            if ($(this).hasClass('unfound')) {
              $(this).removeClass('unfound').addClass('found');
              foundBook(rowid, biblionumber, itemnumber, borrowernumber);
            } else {
              $(this).removeClass('found').addClass('unfound');
            }
        });

      }); 
    </script>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <a href="/"><img class="logo" src="/img/logo.png" /></a>
        <div id="debug"></div>
      </div>
    
      <div id="contents">
        <%- body %>
      </div>
    </div>
  </body>
</html>